<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>DID SHE SAY THAT?</title>

<style>
h1{color: #006699}
h3{color: #0099e6}
h4{color: #006969}

a:link, a:visited, a:hover, a:active {
  color: #696969;
  text-align: center;
}

.content {
  max-width: 500px;
  margin: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

</style>

  </head>
  <body>



    <h1 style="text-align:center;">did she say that???</h1>

    <h4 style="text-align:center;">yish's innuendo detector/text classifier!!!!</h4>

<iframe src="https://giphy.com/embed/bVVTWVgbglhdu" width="480" height="212" frameBorder="0" class="center" allowFullScreen></iframe>

    <h3 style="text-align:center;">input some words to see if that's something she said:</h3>

    <form method="POST" style="text-align:center;">
                    <input type="text" name="text" width="800"><br>
                    <input type="submit" value="submit"><br>
    </form>

    <a class="center" style="text-align:center;" href="https://github.com/yishuen/twss-app">GitHub</a>


  </body>
</html>
